.content {
    /*height: 0;*/
    border: 2px dotted black;
    border-radius: 10px;
    overflow: hidden;
    /*opacity: 0;*/
    margin: 0;
    transition:all linear 0.6s;
}

.div:hover > .content{
    height: 340px;
    /*margin: 20px;*/
    opacity : 1;
    transition:all linear 1s;
}

.title{
    text-align: center;
    padding: 5px 0;
    text-transform: capitalize;
}
