.content {
    border: 2px dotted black;
    overflow: hidden;
    margin: 0;
    transition: all linear 0.6s;
}

.title{
    font-size: 20px;
    text-align: center;
    padding: 5px 0;
    text-transform: capitalize;
}
label{
  display: block;
    margin-left: 20px;
    margin-bottom: 20px;
}
